*{
	overflow: hidden;
	box-sizing: border-box;
}
h1{
	font-family: cursive, sans-serif;
	font-size: 175%; 
	text-align: center;
}
h2,h3,h4{
	text-align: center;
	font-size: 125%;
	font-family: cursive, sans-serif;
	border: 1px solid black;
	float: right;
	position: relative;
	top:0px;
	right: 0px;
	margin: 0px 0px 0px 0px;
	width:150px;
	height: 30px;
}
#h2{
	background-color: orange;
}
#h3{
	background-color: blue;
}
#h4{
	background-color: green;
}
section{
	background-color: #AAAAAA;
	font-family: cursive, sans-serif;
	border: 1px solid black;
	box-sizing: border-box;
    position: relative;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 24px;
}

p{
	clear: right;
	overflow: hidden;
	padding:10px; 
}

.row{
	width:100%;
}

@media (min-width:992px){
	.col-lg-3{
		float:left;
    	width:28%;
    	height:180px;
	}
	h1{
		margin-bottom: 100px;
	}
} 
@media(min-width: 768px) and (max-width: 991px){
	h1{
		margin-bottom: 50px;
	}
	.col-m-2{
		float: left;
		width: 44%;
		height: 180px;

	}
	.col-m-1{
		float: left;
		width: 93%;
		height: 180px; 
	}
}
@media(max-width: 767px)
{
	h1{
		margin-bottom: 25px;
	}
	.col-s-1{
		width: 95%;
		height: 180px;
	}
}
